<!--ゴリ作成-->

    <h2>注文履歴一覧</h2>
    <table class="table">
        <thead>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>ステータス</th>
        </thead>
        <tbody>
        </tbody>
    </table>