<!--ゴリ作成-->

    <h2>注文履歴一覧</h2>
    <table class="table">
        <thead>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>ステータス</th>
            <th>注文詳細</th>
        </thead>
        <tbody>
            <%# @orders.each do |order| %>
              <td><%#= link_to admin_order_path(order.id) do %>
              <%#= l order.created_at %><% end %></td>
              <td><%#= order.name %></td>
              <td><%#= order.order_products.sum(:amount) %></td>
              <td><%#= order.statuses_i18n %></td>
              <td><%#= link_to "注文詳細", admin_order_path(order.id), class: "btn btn-success" %></td>
        </tbody>
        <% end %>
    </table>