<div class="container">
  <div class="row">
    <div class="px-3 mx-auto my-1, text-center">
      <h1 class="about my-md-3"><strong>About</strong></h1>
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
      </p>
      <%= image_tag 'cake-2.jpg', class: 'about_image', size: '700x300' %>
    </div>
  </div>
</div>
