<%= render 'layouts/header' %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">
      <table class="tabel">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-9">
      <div class="greeting-image">
        <p class="greeting text-center ">
           ようこそ、ながのCAKEへ！<br>
           このサイトは、ケーキ販売のECサイトになります。<br>
           会員でない方も商品の閲覧はできますが、<br>
           購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8 offset-md-1 my-md-3">
      <h2><strong>新着商品</strong></h2>
    </div>

  </div>
</div>