<!--ゴリ作成-->

<div class="container">
 <div class="row">
  <div class="col-md-12 col-md-offset-1 mx-auto mt-3">
  <h3>注文履歴一覧</h3>
  <table class="table">
   <thead>
     <th>購入日時</th>
     <th>購入者</th>
     <th>注文個数</th>
     <th>ステータス</th>
     <th>注文詳細</th>
   </thead>
   <tbody>
   </tbody>
    </table>
     <%= paginate @orders %>
   </div>
  </div>
 </div>