<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <div style="height: 300px;"></div>
      <div class="text-center">
        <h2>ご注文ありがとうございました</h2>
      </div>
      <div style="height: 300px;"></div>
      </div>
    </div>
  </div>
</div>