// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background {
  background-image: image-url('cake-8.jpg');
  height: 500px;
  background-size: cover;

}

.greeting {
  padding: 250px;
}
