<!--ゴリ作成-->

<footer class="bg-dark">
  <div class='row'>
    <div class='mx-auto'>
        <p class="text-light"><i class="fas fa-peace"></i>/i>©Copyright 2023 NAGANO_CAKE ALL Rights reserved.</p>
    </div>
  </div>
</footer>